<div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8" id="big-box">
        <h1 class="col-sm-12" id="title">Hamster Power Converter</h1>
        <form (ngSubmit)="onConvert()" class="form-inline col-sm-12" #f="ngForm">
          <input
            type="number"
            placeholder="Enter number of hamsters"
            class="col-sm-12 form-control"
            ngModel
            name="num"
            required
            #num="ngModel"
            id="input">
            <div class="help-block col-sm-12 text-danger" *ngIf="!num.valid && num.touched">Please enter number of hamsters!</div>
          <button class="col-lg-2 btn btn-primary">Convert</button>
        </form>

      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6" id="ham-horse-num">
        <h4><span id="ham-num">{{ number }}</span> Hamsters is equivalent to <span id="horse-num">{{ horse }}</span> Horsepower, or <span id="watt-num">{{ hamWatt }}</span>  Watts per second</h4>
      </div>
      <div class="col-sm-3"></div>
    </div>
    <h3 id="same">Is the same as:</h3>
    <div class="row" id="stats-box">
      <div class="col-sm-4 stat">
        <div class="col-sm-12 stat-num">{{ car }}</div>
        <div class="col-sm-12 stat-name" id="cars">Cars</div>
        <h6 class="col-sm-12 stat-text" id="stat-car-text">180 Horsepower</h6>
      </div>
      <div class="col-sm-4 stat">
        <div class="col-sm-12 stat-num">{{ house }}</div>
        <div class="col-sm-12 stat-name" id="houses">Houses Powered</div>
        <h6 class="col-sm-12 stat-text" id="stat-house-text">For 1 second</h6>
      </div>
      <div class="col-sm-4 stat">
        <div class="col-sm-12 stat-num">{{ cas }}</div>
        <div class="col-sm-12 stat-name" id="casinos">Casinos Powered</div>
        <h6 class="col-sm-12 stat-text" id="stat-cas-text">For 1 second</h6>
      </div>
    </div>
    <p class="col-12">Copyright &copy; 2019 Isaac Hunter</p>
</div>


